<!-- Navbar -->
<nav class="bg-gray-800 text-white p-4">
  <div class="container mx-auto flex justify-between">
    <img src="images/omma-logo-dark.png" alt="OMMA-LOGO" class="h-16" />

    <ul class="flex space-x-4 items-center">
      <li><a routerLink="/" class="hover:underline">Inicio</a></li>
      <li><a routerLink="/nosotros" class="hover:underline">Nosotros</a></li>
      <li><a routerLink="/services" class="hover:underline">Servicios</a></li>
      <li><a routerLink="/spaces" class="hover:underline">Espacios</a></li>
      <li><a routerLink="/pricing" class="hover:underline">Precios</a></li>
      <li><a routerLink="/contact" class="hover:underline">Contacto</a></li>
    </ul>
  </div>
</nav>
<!-- End Navbar -->
